:root {
    --gap: .75rem;
    --body-margin: 1rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
}

body * {
    border-radius: .75rem;
    gap: var(--gap);
}

main {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

main > div:first-of-type {
    height: 6%;
    width: 100%;
    justify-content: space-between;
}

main > div:first-of-type > * {
    align-items: center;
}

main > div:first-of-type > div:first-of-type {
    /* width: calc(7.5% - var(--gap) - var(--body-margin)); */
    width: 7.5%;
}

main > div:first-of-type > div:nth-of-type(2) {
    /* width: calc((100% - 7.5% - 20%) - var(--gap) - var(--body-margin)); */
    width: 75%;
}

main > div:first-of-type > div:nth-of-type(3) {
    /* width: calc(20% - var(--gap) - var(--body-margin)); */
    width: 17.5%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.center {
    place-content: center;
    place-items: center;
}

.logo {
    background: #1F6FEB;
}

.nav-bar {
    background: #8B5CF6;
}

.nav-item {
    background-color: red;
    padding:  .75rem;
    border-radius: 1.5rem;
}

.search-bar {
    background: #F97316;
}

input {
    background: none;
    border: none;
    width: 100%;
    padding: 0;
}

.search-bar-list {
    justify-content: space-around;
}

.search-bar-list > li:first-of-type {
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.search-bar-list > * {
    background-color: red;
}

.search-bar-list ul {
    width: 100%;
}

.search-bar-list li {
    width: calc(33% - var(--gap) - .75rem);
    background-color: orange;
    padding: .75rem;
}

.left-nav {
    flex-direction: column;
}

.left-nav-item {
    padding:  .75rem;
}

.left-nav-item:first-of-type {
    background-color: #E879F9;
}

.left-nav-item:nth-child(2) {
    background-color: #60A5FA;
}

.left-nav-item:nth-child(3) {
    background-color: #34D399;
}

.left-nav-item:nth-child(4) {
    background-color: #FB7185;
}

.left-nav-item:nth-child(5) {
    background-color: #06B6D4;
}

.left-nav-item:last-of-type {
    background-color: #22C55E;
}

#left {
    width: 12.5%;
}

#middle {
    width: 75%;
}

.middle-first-row > div:first-of-type {
    width: 60%;
    background-color: #F97316;
    padding: 1rem;
}

.stats {
    width: 40%;
    justify-content: space-between;
}

.stat {
    width: 33%;
}

.stat:first-of-type {
    background-color: #EF4444;
}

.stat:nth-of-type(2) {
    background-color: #FB7185;
}

.stat:nth-of-type(3) {
    background-color: #34D399;
}

#right {
    width: 12.5%;
    flex-direction: column;
    height: 100%;
}

#right > div:first-of-type {
    background: #8B5CF6;
    justify-content: space-around;
    align-items: center;
    padding: .75rem;
}

#right > div:nth-of-type(2) {
    flex-direction: column;
}

.carre {
    height: 60px;
    aspect-ratio: 1/1;
    background-color: #06B6D4;
}

.footer {
    justify-content: space-between;
    background: #E879F9;
    padding: .5rem;
}

.highlight {
    background: #38BDF8;
    border-radius: 0;
}