* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FDF6EC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.container {
    width: 25%;
    gap: 3rem;
}

.card {
    background: #FFF8E1;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.2));
    border-radius: .75rem;
}

.card > div {
    align-items: center;
}

.emoji {
    height: 2.5rem;
}

.circles {
    position: relative;
}

.dot {
    height: 2rem;
    aspect-ratio: 1/1;
    position: absolute;
    background: #FEDB1D;
    padding: .25rem;
    border-radius: 50%;
    right: -.5rem;
    top: -.5rem;
}

.round {
    border-radius: 50%;
    width: fit-content;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 5px solid #907A51;
}

.title, .unit ,.text {
    color:#5d4037;
}

.title {
    align-items: center;
    justify-content: space-around;
}

.title h1 {
    font-size: 2.5rem;
}

.top {
    gap: .5rem;
}

.profile-picture {
    width: 100px;
}

.name {
    align-items: center;
    gap: 1rem;
}
.name p {
    color:#907A51;
}

.stats {
    width: 100%;
    justify-content: space-between;
}

.stats > * {
    text-align: center;
}

.stat {
    width: 22%;
    padding: .75rem 1rem;
    background: #FFF3CD;
    border: 2px solid #FAEEC9;
    border-radius: .5rem;
}

.unit {
    font-size: 1.25rem;
    font-weight: bold;
}

.spec {
    font-size: .75rem;
    color: #907A51;
}

.text {
    text-align: justify;
    line-height: 1.5rem;
    position: relative;
    padding-bottom: 2rem;
}

.cta {
    text-decoration: none;
    position: absolute;
    padding: .25rem 1rem;
    font-size: .75rem;
    font-weight: bold;
    background: #8BC34A;
    color: white;
    border-radius: .5rem;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.2));
}