.titre_base {
    /* Color: La couleur du text */
    color: rgb(0, 114, 213);
    /* Text-align: alignement du texte */
    text-align: center;
    /* Background-color: couleur du fond */
    background-color: rgb(119, 255, 0);
    /* Padding: marge intérieure */
    padding: 1em;
    /* Text-decoration: ligne de décoration */
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

/* > Permet de sélectionner l'enfant dircet de l'élément #liste_cours */

#liste_cours > li {
    /* list-style: none permet la désactivation des puces */
    list-style: none;
    margin-block: 5px;
    border: 1px solid #FF1D15;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    background-color: #FFFC31;
}

#liste_cours > li > a {
    text-decoration: none;
    color: #3EC300;
}

#liste_cours > li:hover {
    border: 1px solid #FF1D16;
    background-color: #337CA0;

}

#liste_cours > li > a:hover {
    color: #f941ff;
}


table, td, th {
    border: solid 1px black;
    border-collapse: collapse;
    padding: .25em;
    text-align: center;
}

textarea {
    resize: none;
}

#exo td {
    padding-inline: 2em;
    border: solid 2.5px black;
}


/* TETRIS */

#exo-2 {
    border: none;
}

#exo-2 td {
    padding: 2em;
}

.blue {
    background-color: blue;
}

.aqua {
    background-color: aqua;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: rgb(128, 0, 102);
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

/* 
 _______  _______           _______  _______    _______  _______  _______ 
(  ____ \(  ___  )|\     /|(  ____ )(  ____ \  (  ____ \(  ____ \(  ____ \
| (    \/| (   ) || )   ( || (    )|| (    \/  | (    \/| (    \/| (    \/
| |      | |   | || |   | || (____)|| (_____   | |      | (_____ | (_____ 
| |      | |   | || |   | ||     __)(_____  )  | |      (_____  )(_____  )
| |      | |   | || |   | || (\ (         ) |  | |            ) |      ) |
| (____/\| (___) || (___) || ) \ \__/\____) |  | (____/\/\____) |/\____) |
(_______/(_______)(_______)|/   \__/\_______)  (_______/\_______)\_______)
                                                                           
*/

.square {
    width: 50px;
    height: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-color-red {
    color: red;
}
/* Si on met une div en inline, sachant que l'inline ne gère pas les dimensions, on ne la verra pas. L'inline est utilisé principalement pour du texte */
.cobaye {
    display: inline;
}

/* L'inline-block autorise les dimensions, permet aussi d'accumuler les éléments sur la longueur et de passer à la ligne quand l'élément n'a plus de place */
.cobaye2 {
    display: inline-block;
}

body {
    min-height: 100vh;
}

.nav-bar {
    background-color: darkslateblue;
    width: 100%;
    height: 10vh;
    /* Permet au texte à l'intérieur de la div d'être centré verticalement, mettre la même hauteur que la hauteur de la div */
    line-height: 10vh;
}

.nav-bar-list > li {
    list-style: none;
    display: inline-block;
    margin-left: 7.5px;
}

.nav-bar-list > li > a {
    text-decoration: none;
    color: white;
}

.nav-bar-list > li > a:hover {
    color: orange;
}

.parent > p {
    color: green;
}

.all-children-parent p {
    color: red;
}

h4 + p {
    /* Attention le h4 est en gras par défaut */
    font-weight: bold;
    color: blue;
}

h5 ~ p {
    font-weight: bold;
    color: orange;
}