@font-face {
    font-family: 'Sansation';
    src: url(/fonts/Sansation/Sansation-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Imperial';
    src: url(/fonts/Imperial_Script/ImperialScript-Regular.ttf) format("truetype");
}

body {
    font-family: 'Sansation', sans-serif;
    min-height: 100vh;
}

.titre_base {
    /* Color: La couleur du text */
    color: rgb(0, 114, 213);
    /* Text-align: alignement du texte */
    text-align: center;
    /* Background-color: couleur du fond */
    background-color: rgb(119, 255, 0);
    /* Padding: marge intérieure */
    padding: 1em;
    /* Text-decoration: ligne de décoration */
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

/* > Permet de sélectionner l'enfant dircet de l'élément #liste_cours */

#liste_cours > li {
    /* list-style: none permet la désactivation des puces */
    list-style: none;
    margin-block: 5px;
    border: 1px solid #FF1D15;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    background-color: #FFFC31;
}

#liste_cours > li > a {
    text-decoration: none;
    color: #3EC300;
}

#liste_cours > li:hover {
    border: 1px solid #FF1D16;
    background-color: #337CA0;

}

#liste_cours > li > a:hover {
    color: #f941ff;
}


table, td, th {
    border: solid 1px black;
    border-collapse: collapse;
    padding: .25em;
    text-align: center;
}

textarea {
    resize: none;
}

#exo td {
    padding-inline: 2em;
    border: solid 2.5px black;
}


/* TETRIS */

#exo-2 {
    border: none;
}

#exo-2 td {
    padding: 2em;
}

.blue {
    background-color: blue;
}

.aqua {
    background-color: aqua;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: rgb(128, 0, 102);
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

/* 
  ░██████    ░██████   ░██     ░██ ░█████████    ░██████        ░██████    ░██████     ░██████   
 ░██   ░██  ░██   ░██  ░██     ░██ ░██     ░██  ░██   ░██      ░██   ░██  ░██   ░██   ░██   ░██  
░██        ░██     ░██ ░██     ░██ ░██     ░██ ░██            ░██        ░██         ░██         
░██        ░██     ░██ ░██     ░██ ░█████████   ░████████     ░██         ░████████   ░████████  
░██        ░██     ░██ ░██     ░██ ░██   ░██           ░██    ░██                ░██         ░██ 
 ░██   ░██  ░██   ░██   ░██   ░██  ░██    ░██   ░██   ░██      ░██   ░██  ░██   ░██   ░██   ░██  
  ░██████    ░██████     ░██████   ░██     ░██   ░██████        ░██████    ░██████     ░██████   
                                                                           
*/

.square {
    width: 50px;
    height: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-color-red {
    color: red;
}
/* Si on met une div en inline, sachant que l'inline ne gère pas les dimensions, on ne la verra pas. L'inline est utilisé principalement pour du texte */
.cobaye {
    display: inline;
}

/* L'inline-block autorise les dimensions, permet aussi d'accumuler les éléments sur la longueur et de passer à la ligne quand l'élément n'a plus de place */
.cobaye2 {
    display: inline-block;
}


.nav-bar {
    background-color: darkslateblue;
    width: 100%;
    height: 10vh;
    /* Permet au texte à l'intérieur de la div d'être centré verticalement, mettre la même hauteur que la hauteur de la div */
    line-height: 10vh;
}

.nav-bar-list > li {
    list-style: none;
    display: inline-block;
    margin-left: 7.5px;
}

.nav-bar-list > li > a {
    text-decoration: none;
    color: white;
}

.nav-bar-list > li > a:hover {
    color: orange;
}

.parent > p {
    color: green;
}

.all-children-parent p {
    color: red;
}

h4 + p {
    /* Attention le h4 est en gras par défaut */
    font-weight: bold;
    color: blue;
}

h5 ~ p {
    font-weight: bold;
    color: orange;
}

.text-chiant {
    font-family: 'Imperial';
    font-size: 2rem;

}

/* Les pseudos éléments */


.text-chiant::first-letter {
    color: red;
    font-weight: bold;
    font-size: 10rem;
    float: left;
}

#super-button {
    border: 1px solid #316a93;
    background-color: #337CA0;
    padding: 5px;
    border-radius: 7.5px;
    color: white;
    text-decoration: none;
}

#super-button:hover {
    border: 1px solid #316a93ad;
    background-color: #337CA0ad;
}

#super-button::after {
    /* TOUJOURS METTRE CONTENT */
    content: ' ❤';
    color: red;
}

#super-button:hover::after {
    content: "👍";
    scale: 1.3;
    display: inline-block;
}

:root {
    --rouge: red;
    --vert: green;
    --bleu: blue;
    --violet: purple;
}

.box p {
    color: var(--rouge);
}

.container p + span {
    color: var(--vert);
}

.container p ~ span {
    color: var(--bleu);
}

.container > p {
    color: var(--violet);
}

.container .box h2 {
    color: orange;
}


.box h2::before {
    content: '→ ';
}

.box p::after {
    content: ' —';
    font-style: italic;
}

.container > p::after {
    content: " (important)";
    font-size: .5rem;
}

/* 
░██████████░██         ░██████████ ░██    ░██ 
░██        ░██         ░██          ░██  ░██  
░██        ░██         ░██           ░██░██   
░█████████ ░██         ░█████████     ░███    
░██        ░██         ░██           ░██░██   
░██        ░██         ░██          ░██  ░██  
░██        ░██████████ ░██████████ ░██    ░██ 
*/


.container-flex {
    /* C'est toujours le conteneur des éléments qui a le display:flex */
    /* Par défaut les éléments dans le conteneur seront alignés horizontalement */
    display: flex;
    background-color: aquamarine;
    height: 30vh;
}

.box-flex {
    height: 20%;
    /* Pour éviter de calculer la largeur, on utilise une mise à l'échelle */
    /* width: calc(30vh * 0.2); */
    aspect-ratio: 1/1;
    background-color: chocolate;
}

.box-flex-col {
    width: 6vh;
    aspect-ratio: 1/1;
    background-color: crimson;
}

.col {
    flex-direction: column;
}

.end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
}