* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    /* background-color: #F6F2E8; */
}

h1 {
    text-align: center;
}

.logo-no-transition .logo {
    background-image: url("../img/autruche-logo.png");
    width: 200px;
    height: 336px;
}

.logo-no-transition:hover {
    scale: 1.1;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.logo-no-transition {
    border: 1px solid saddlebrown;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-no-transition h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.logo-transition .logo {
    background-image: url("../img/autruche-logo.png");
    width: 200px;
    height: 336px;
}

.logo-transition:hover {
    scale: 1.1;
}

.logo-transition {
    border: 1px solid saddlebrown;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: scale 0.5s ease;

}

.logo-transition h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.saw {
    width: 250px;
    aspect-ratio: 1;
    transition: transform 10s ;
}

.saw:hover {
    transform: rotateZ(-3600deg);
}

table {
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td, th {
    padding: 1rem;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.saw-container {
    position: relative;
    background-color: wheat;
    height: 500px;
    width: 100%;
}

.saw-animation {
    width: 250px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: saw-move 5s cubic-bezier(0,1.94,0,-11.88) infinite;
}

@keyframes saw-move {
    0% {
        bottom: 0;
        left: 0;
    }

    25% {
        left: calc(100% - 250px);
        bottom: 0;
    }

    50% {
        bottom: calc(100% - 250px);
        left: calc(100% - 250px);
    }

    75% {
        bottom: calc(100% - 250px);
        left: 0;
    }

    100% {
        left: 0;
        bottom: 0;
        transform: rotate(7200deg);
    }

}

.ostrich-container {
    width: 100%;
    position: relative;
    height: 300px;
}

.ostrich {
    width: 20%;
    position: absolute;
    animation: ostrich-run infinite linear 3s;
}

.ostrich img {
    width: 100%;
}


@keyframes ostrich-run {
    from {
        left: -20%;
        transform: scale(1, 1);
    }

    89% {
        left: 100%;
        transform: scale(1,1);
    }

    91% {
        transform: scale(-1, 1);
    }

    to {
        left: -20%;
        transform: scale(-1,1);
    }
}